 <!-- HEADER -->
  <div class="header">
    
      <!-- LOGO -->
      <div class="logo">

          
      </div>
    
      <% if current_user %>
        <div class="login-logout-buttons">
          <button class="button"><a href="/logout">Logout</a><button>
        </div>
      <% end %>      
    </div>  